<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="com.solvd.navigator.dao.IPublicTransportDao">
    <resultMap id="ResultForPublicTransport" type="PublicTransport">
        <id property="idPublicTransport" column="idPublicTransport"/>
        <result property="publicTransportNumber" column="publicTransportNumber"/>
        <result property="averageSpeed" column="averageSpeed"/>
    </resultMap>

    <select id="selectEntityById"  resultMap="ResultForPublicTransport">
        SELECT * FROM PublicTransport WHERE idPublicTransport =#{idPublicTransport}
    </select>

    <select id="selectAllEntity" resultType="Directions" resultMap="ResultForDirections">
        SELECT * from PublicTransport
    </select>


    <insert id="insertEntity" parameterType="PublicTransport">
        INSERT INTO PublicTransport(idPublicTransport, publicTransportNumber, averageSpeed)
        VALUES (#{idPublicTransport},  #{publicTransportNumber}, #{averageSpeed})
    </insert>

    <update id="updateEntity" parameterType="PublicTransport">
        UPDATE PublicTransport
        SET
        publicTransportNumber = #{publicTransportNumber},
        averageSpeed = #{averageSpeed}
    </update>

    <delete id="deleteEntity" >
        DELETE FROM PublicTransport WHERE idPublicTransport=#{idPublicTransport}
    </delete>
</mapper>