<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IStreetLocationDao">
    <resultMap id="resultMapStreetLocation" type="model.StreetLocation" autoMapping="false">
        <id column="idStreetLocation" property="idStreetLocation"/>
        <result column="idStreet" property="idStreet"/>
    </resultMap>
    <select id="selectEntityById" resultMap="StreetLocationResult" resultType="resultMapStreetLocation">
        SELECT * FROM StreetLocation
        WHERE idStreetLocation = #{id}
    </select>
    <insert id="insertEntity">
        INSERT INTO StreetLocation()
        VALUES( #{idStreetLocation}, #{streetNumber}, #{xCoordinate}, #{yCoordinate}, #{idStreet} )
    </insert>
    <delete id="deleteEntity">
        DELETE * from StreetLocation
        WHERE idStreetLocation = #{idStreetLocation}
    </delete>
    <update id="updateEntity">
        UPDATE StreetLocation SET idStreetLocation=#{idStreetLocation}, idStreet=#{idStreet}
        WHERE idStreetLocation = #{idStreetLocation}
    </update>
</mapper>